/* Estilos gerais */
body {
    font-family: Arial, sans-serif;
    font-size: 1rem;
    line-height: 1.5;
}

/* Estilos para a seção de inicio */
.inicio-fundo {
    background-color: #28697c;
    color: white;
    padding: 30px;
}

.img-inicio {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
}

/* Acessibilidade */
.menu-acessibilidade {
    position: fixed;
    top: 2rem;
    right: 20px;
    z-index: 1000;
}

.rotacao-botao {
    transform: rotate(-90deg);
    transform-origin: right center;
}

.opcoes-acessibilidade {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
}

.opcoes-acessibilidade button {
    margin-bottom: 5px;
}

.apresenta-lista {
    display: none;
}

/* Estilos para o menu de navegação */
.nav-item {
    margin: 0 15px;
}

.nav-item a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s;
}

.nav-item a:hover {
    color: #f0ad4e;
}

/* Outros estilos para a galeria e secções */
.fundo-galeria {
    background-color: #f8f9fa;
    padding: 30px;
}

img {
    border-radius: 10px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.fundo-galeria .img-fluid:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/* Ajustes responsivos */
@media (max-width: 768px) {
    .col-4, .col-5 {
        text-align: center;
        margin-bottom: 20px;
    }

    .nav-item {
        font-size: 14px;
    }

    .inicio-fundo {
        flex-direction: column;
        padding: 20px;
    }

    .inicio-fundo img {
        max-width: 90%;
        margin-top: 20px;
    }
}
